/*button*/
.button-link {
  @include button-variant(#fff, $accent-color, $accent-color);
  @include button-size(0, 1.25*$base-font-size, $text-common-font-size, 2.25rem, 2.25*$base-font-size);

  font-family: $fira-sans-med;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
/*end of button*/