/*button*/

@mixin button (
  $display: null,
  $line-height: null,
  $p-left: null,
  $p-right: null,
  $background: null
) {
  @if $display == null { display: table; } @else { display: $display; }

  position: relative;

  @if $line-height != null { line-height: $line-height; }

  @if $p-left != null { padding-left: $p-left; }
  @if $p-right != null { padding-right: $p-right; }

  @if $background != '' { background: $background; }
}

@mixin border ($style,  $sides){

  @if ($style != "") {

    @if ($sides == "") {

      border: $style;

    } @else {

      @each $side in $sides {

        @if (
          $side == 'top' or
          $side == 'right' or
          $side == 'bottom' or
          $side == 'left'
        ) {
          border-#{$side}: $style;
        }
      }
    }
  }
}

.button-link {
  @include button(null, 2.25 * $base-font-size, null, null, $accent-color);

  font-family: $fira-sans-med;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
/*end of button*/