/*fonts*/
@font-face {
	font-family: FiraSans-Medium;
	src: url(../fonts/FiraSans-Medium.ttf);
	font-weight: normal;
}
@font-face {
	font-family: FiraSans-Regular;
	src: url(../fonts/FiraSans-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Sans-Caption-Bold;
	src: url(../fonts/PT_Sans-Caption-Web-Bold.ttf);
	font-weight: normal;
}
//@font-face {
//	font-family: Helios-Cond-Black;
//	src: url(../font-awesome/Helios-Cond-Black.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Cond-Bold;
//	src: url(../font-awesome/Helios-Cond-Bold.ttf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Cond-Bold;
//	src: url(../font-awesome/Helios-Cond-Bold.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Bold;
//	src: url(../font-awesome/Helios-Bold.ttf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Bold;
//	src: url(../font-awesome/Helios-Bold.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios;
//	src: url(../font-awesome/Helios.ttf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios;
//	src: url(../font-awesome/Helios.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Light;
//	src: url(../font-awesome/Helios-Light.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Proxima-Nova-Extra-Bold;
//	src: url(../font-awesome/Proxima-Nova-Extra-Bold.otf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: PT-Serif-Caption-Regular;
//	src: url(../font-awesome/PT-Serif-Caption-Regular.ttf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: PT-Serif-Caption-Italic;
//	src: url(../font-awesome/PT-Serif-Caption-Italic.ttf);
//	font-weight: normal;
//}
//@font-face {
//	font-family: Helios-Light-Italic;
//	src: url(../font-awesome/Helios-Light-Italic.otf);
//	font-weight: normal;
//}
/*end of font-awesome*/