/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
	font-size: $base-font-size;
	line-height: 1.5rem;
}

body{
	position: relative;
	background: #f0f0f0;
}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

.container-fluid {
	max-width: 1200px;
}
/*end of general*/