/*logo*/
.logo {
  display: block;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  @include sprite($logo);

  @media (min-width: $width-lg) {
    text-align: left;
  }
}
/*end of logo*/